<div class="application">

    <h1>Welcome to SQL Client for MongoDB</h1>
    <p>The main feature of the client is that you can write queries in it as declarative SQL, instead of the standard
        mongo syntax.</p>
    <hr>

    <section class="application__test-btn">
        <p>* Hint! Click this button to get example of config.</p>
        <button type="button" class="btn btn-default" ng-click="vm.setExample()">Set data for test</button>
        <a href="" class="pull-right" ng-click="vm.openIPModalWindow()">Show my IPs</a>
    </section>

    <section class="application_form">
        <form name="vm.form" ng-submit="vm.submit()" novalidate>
            <div class="form-group required" ng-class="{ 'has-error' : vm.form.host.$invalid && !vm.form.host.$pristine}">
                <label for="host" class="control-label">MongoDB Host:</label>
                <input type="text" class="form-control" id="host" name="host" ng-pattern="/(?:^|\s)([a-z]{3,6}(?=:\/\/))?(:\/\/)?((?:25[0-5]|2[0-4]\d|[01]?\d\d?)\.(?:25[0-5]|2[0-4]\d|[01]?\d\d?)\.(?:25[0-5]|2[0-4]\d|[01]?\d\d?)\.(?:25[0-5]|2[0-4]\d|[01]?\d\d?))(?::(\d{2,5}))?(?:\s|$)/" placeholder="ex. 127.0.0.1:27017"
                       ng-model="vm.application.host" ng-required="true">
            </div>
            <div class="form-group required" ng-class="{ 'has-error' : vm.form.db.$invalid && !vm.form.db.$pristine}">
                <label for="db" class="control-label">MongoDB Database:</label>
                <input type="text" class="form-control" id="db" name="db" placeholder="ex. codaline"
                       ng-model="vm.application.db" ng-required="true">
            </div>
            <div class="form-group required" ng-class="{ 'has-error' : vm.form.sql.$invalid && !vm.form.sql.$pristine}">
                <label for="sql" class="control-label">MySQL Query:</label>
                <input type="text" class="form-control" id="sql" name="sql" placeholder="ex. select * from users where username like 'oleg'"
                       ng-model="vm.application.sql" ng-required="true">
            </div>
            <button type="submit" class="btn btn-success"
                    ng-disabled="vm.form.$invalid"
                    button-spinner="vm.form.loading"
                    spinning-icon="fa fa-refresh fa-spin">Submit</button>
            <button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
        </form>
        <hr>
    </section>

    <section class="application_result">
        <h5>Total count: {{vm.application.count || 0}}</h5>
        <pre>{{ vm.application.result | json }}</pre>
    </section>

</div>
