.application {
  padding: 15px;
}

.application__test-btn {
  padding-bottom: 15px;
}

.application__test-btn__description {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
  padding: 16px;
}

.application__example {
  padding: 15px;
}

.application_form {
  padding-bottom: 15px;
}

.application__result {
  padding: 15px;
}
